# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules/

# JSDoc output directories
docs/gen/
jsdoc/

# gulp-coverage data files
.coverdata/
.coverrun

# Webpack-generated (site) distributable
dist/

# Nightwatch.JS and Selenium output
e2e_tests_output/
e2e_test_screenshots/
selenium-debug.log

# gulp-gh-pages output
.publish/

# npm crash logs
npm-debug.log*

# VS Code
/.vscode/

# nyc (istanbul)
/.nyc_output/
