# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules/

# JSDoc output directory
docs/gen/

# gulp-coverage data files
.coverdata/
.coverrun

# Webpack-generated (site) distributable
dist/

# Nightwatch.JS and Selenium output
e2e_tests_output/
selenium-debug.log

# gulp-gh-pages output
.publish/
