<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Cribbage hand discard analyzer</title>
    <script src="cribbageAnalyst.bundle.js"></script>
</head>
<body>
    <div id="cribbageAnalyst">
        <div>
            Card indices:
            <input id="cardIndices" type="text" v-model="cardIndices"
                autofocus/>
        </div>
        <div>Pairs, fifteens and runs points per discard option:</div>
        <div id="analyses">
            <analysis v-for="analysis in analyses | orderBy 'points' -1" v-bind:analysis="analysis">
            </analysis>
        </div>
    </div>
    <script>
        /* global cribbageAnalyst */
        cribbageAnalyst.initVue();
    </script>
</body>
</html>
